body{
  font-family:'Roboto',sans-serif !important; 
  background-color:#ECEFF1;
}

.star{
  width:70px;
  -webkit-animation:spin 2s ease;
  -moz-animation:spin 2s ease;
  animation:spin 2s ease;
  margin-top:8%;
}

#drawer {
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

#mapContent{
  text-align:center;
}

.classHeading{
  font-size:17px;
}

#classes{
  width:100%;
  height:36em;
  border:none;
}

#birthdayParties{
  width:78%;
  height:45em;
  margin-left:11.4em;
}

.jumbotron{
    background-color:#0D47A1;
    color:white;
    margin-bottom:0;
}

#fullScreenButton{
  margin-left:8px;
}

#customerPortalLink{
  margin-bottom:15px;
}

.page{
    bottom:0; 
    position:absolute; 
    top:0;  
    width:100%; 
}

.nav-item {
  list-style: none;
  padding: 5%;
  font-size: 1.2em;
}

.nav-link {
  color:black;
}

.nav-link:visited {
  text-decoration:none;
  color:black;
}


.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.centerImage{
  padding-left:10%;
  padding-right:10%;
}

.content{
  padding-left:15em;
  padding-right:15em;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

#bethKeelContent{
  padding-top:16px;
}

p{
  font-size:16px;
}

#moreInfo{
  margin-top:25px;
}

@media(max-width:1290px){
  .content{
    padding-left:10%;
    padding-right:10%;
  }
}

@media(max-width:1025px){
  .content{
    padding-left:11%;
    padding-right:11%;
  }
  
  #birthdayParties{
    margin-left:9em;
  }
}

@media(max-width:961px){
  #birthdayParties{
    margin-left:7.4em;
  }
}

@media(max-width:415px){
  #birthdayParties{
    width:100%;
    margin-left:0;
  }
  
  .content {
    padding-left:8%;
    padding-right:8%;
  }
}

@media(max-width:758px){
  .center{
    width:100%;
  }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideInLeft{
  from{
    transform:translateX(-100%);
  }
  to{
    transform:translateX(0);
  }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideFromBottom{
  from{
    transform:translateY(100%);
  }
  
  to{
    transform:translateY(0);
  }
}

@keyframes slideOutFromTop{
  from{
    transform:translateY(-100%);
  }
}

@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*.ng-enter{
  animation:slideFromBottom 0.5s both ease-in;
}**/

/*.dashboardHeader.ng-enter{
  animation:slideInRight 0.5s both ease-in;
}*/

.fadeIn{
  animation-name:fadeIn;
  animation-duration:0.5s;
}

.rightSlide{
  animation-name:slideInRight;
  animation-duration:0.5s;
}

.leftSlide{
  animation-name:slideInLeft;
  animation-duration:0.5s;
}




