<div>
  
  <h1 class="text-center rightSlide">Gymnastics Party</h1>
  <p class="text-primary text-center page-header leftSlide">150$ for up to 15 children/5$ for each additional child</p>
  
  <img class="img-responsive center" ng-src="pics/parties.jpg">
  
  <div class="col-xs-12">
    <div class="row content">
      <p class="text-justify">
        We provide your child and his or her friends with 1 hour of organized gym time with 
        gymnastics, games, music and parachute play.  ½ hour is reserved for opening presents and eating cake.
      </p>
    </div>
  </div>
  
  <h1 class="text-center rightSlide">Nerf Gun Party</h1>
  <p class="text-primary text-center leftSlide">No more than 16 children: 150$</p>
  <p class="text-primary text-center page-header rightSlide">For children 6 and older</p>
  
  <div class="col-xs-12">
    <div class="row content">
      <p class="text-justify">
        This includes 1 hour of nerf gun in the gym and 1/2 hour is reserved for opening presents and eating cake.
      </p>
    </div>
  </div>
  
  <h1 class="text-center page-header">More Info</h1>
  
  <div class="col-xs-12">
    <div class="row content">
      <p class="text-justify">
        You are responsible for providing, cake, ice cream, party-themed paper products, party favors, drinks and any other food items for any party 
        A $40 non-refundable deposit is required when making reservations. A party is not booked until deposit.  Deposit is applied to party fee.
      </p>
    </div>
  </div>
  
  <h1 class="text-center rightSlide page-header">Availability</h1>
  <p class="text-primary text-center">Click on the day and time you want to register for a party, KNO or Special Event.</p>
  <div class="col-xs-12">
    <div class="row">
      <iframe id="birthdayParties" seamless src="http://app.jackrabbitclass.com/eventcalendar.asp?orgid=515689"></iframe>
    </div>
  </div>
  
</div>