<div>
  
  
  <h1 class="text-center leftSlide">Competitive Cheer</h1>
  <p class="text-primary text-center rightSlide">Age 5-8: Tuesday-Thursday 6-8pm 55$ mo.</p>
  <p class="text-primary text-center leftSlide">Age 9-11: Tuesday-Thursday 6-8pm 55$ mo.</p>
  
  <p class="text-warning text-center page-header">Call to sign up for tryouts</p>
  
  <img class="img-responsive center" ng-src="pics/gymPic.JPG">
  
  <div class="col-xs-12">
    <div class="row content">
      <p id="bethKeelContent" class="text-justify">
         We are excited to announce we now offer a competitive cheer squad. 
         Our competitions begin 2015-2016.  Competitive cheer is a year round program.  
         We are always looking to expand by looking for enthusiastic students.  
         If you have a child that loves to cheer, please contact us for a tryout.
      </p>
    </div>
  </div>
  
  <h1 class="text-center">Pre-team Cheer</h1>
  <p class="text-primary text-center">Thursday 5pm</p>
  
  <div class="col-xs-12">
    <div class="row content">
      <p id="bethKeelContent" class="text-justify">
        Pre-competition classes will begin April.  
        These classes are meant to prepare the students for competition team.  
        The class will focus on jumps, stunting, techniques and tumbling.  
        There will be two classes broken down into age groups, 5-8 yrs and 9-11 years. 
        Once certain skills are acquired, we will pick the competition team from these classes.   
        Competition team practices will begin in the summer and their season will run though the spring of 2016.  
        More information coming about competitive team as we finish organizing the year.
      </p>
    </div>
  </div>
  
  <h1 class="text-center">Gymnastics</h1>
  
  <div class="col-xs-12">
    <div class="row content">
      <p id="bethKeelContent" class="text-justify">
        Alabama Kidnastics is a complete gymnastics program teaching skills on bars, beam, floor, vault, and rings.  We take children from the age of 2 and up for boys and girls.  We teach a progression of skills on each piece of equipment. In the classes students will develop flexibility, coordination, strength and agility.
      </p>
    </div>
  </div>
  
  <h1 class="text-center">Gymnastics Team</h1>
  
  <div class="col-xs-12">
    <div class="row content">
      <p id="bethKeelContent" class="text-justify">
        As we teach a progression of skills in our classes, it prepares the student for our competitive team.  Team is a year round commitment.  Our competitive season begins in September and goes thru March.  April thru August we are working on compulsory routines on bars, beam, floor and vault.  Our team girls practice 6 hours per week.  Our competitions are local and extend to Nashville, Birmingham, Atlanta, and Tuscaloosa. If you have a child that would be interested please ask us about a tryout.  Most children can compete with beginner skills because the routines are choreographed in a progression.  
      </p>
    </div>
  </div>
  
  <h1 class="text-center">After School Care</h1>
  <p class="text-primary text-center">Mon-Fri 3pm-6pm</p>
  <p class="text-primary text-center">Fee: Only 45$ a month!</p>
  
  <div class="col-xs-12">
    <div class="row content">
      <p id="bethKeelContent" class="text-justify">
        We do not offer per day for after school care. Children ride the bus to our facility. At Kidnastics, we have children work and complete their homework each day, so that when you pick them up, you can go home and enjoy family time without the headache of getting them to do their homework.  We limit the amount of students we have because we want to have quality time with them and meet individual needs when doing homework. **Includes 1 hour each week of instruction in gymnastics, Judo or cheer - a $55/month value. 
      </p>
    </div>
  </div>
  
  <h1 class="text-center">Holiday Break Sports Camp</h1>
  <p class="text-primary text-center">7am-6pm</p>
  
  <img class="img-responsive center" ng-src="pics/holidayOne.JPG">
  
  <div class="row content">
    <p id="bethKeelContent" class="text-justify">
      We offer full day sports camp for Fall, Thanksgiving, Christmas, Spring and Summer Breaks.  We open our program for any child that might need child care during these school breaks for ages Kindergarten thru 12 years of age. Camp is held from 7 am to 6 pm.   We have the perfect camp for your child.  Kids need to bring a sack lunch with drink.  We will provide each day with fun activities; basketball, volleyball, softball, soccer, batmitton, flag football, kickball, gymnastics, dance, art and crafts and much more.
    </p>
  </div>
  
  <h1 class="text-center">Kids Night Out</h1>
  <p class="text-primary text-center">6pm-10pm</p>
  
  <img class="img-responsive center" ng-src="pics/kno.png">
  
  <div class="row content">
    <p id="bethKeelContent" class="text-justify">
      We will offer Kid's Night Out one Saturday of every month.  Bring your children to us and have a night out or just a quiet evening at home. We provide fun organized activities with dinner included.  Children will participate in gymnastics, parachute, relays and games.  We will end the evening with a movie.  This event is for 3 year olds to 12 year olds.  Fee is $25 per child and $5 for siblings.  Payment must be cash only at the beginning 
      of the event. You must register online to attend. If we do not have at least 10 registered by the Thursday before the event, we will cancel. 
    </p>
  </div>
  
  <h1 class="text-center">Parkour/Ninja Warrior</h1>
  
  <div class="row content">
    <p id="bethKeelContent" class="text-justify">
      We are bringing the outdoors inside and providing children with the opportunity to run, jump, swing, climb and play.  This class combines a little of gymnastics, with fitness and parkour.  In this class, we will safely introduce to the basic of parkour/gymnastics/ fitness through landing, rolling, vaulting, climbing and moving over, under, across and through various obstacles.  This course will develop strength, agility, coordination, flexibility and balance.
    </p>
  </div>
  
  <h1 class="text-center">Judo</h1>
  <p class="text-primary text-center">Ages 5-12: Saturdays 10-11am 55$ mo.</p>
  <p class="text-primary text-center">Ages 13-adults: Saturdays 11-12am 55$ mo. </p>
  
  <div class="text-warning text-center page-header"><a href="https://app.jackrabbitclass.com/reg.asp?id=515689">Register Here</a></div>
  
  <img class="img-responsive center" ng-src="pics/judo2.jpg">
  
  <div class="col-xs-12">
    <div class="row content">
      <p id="bethKeelContent" class="text-justify">
        Beginning March 5 Judo classes will begin for ages 5 years to adults.  
        This is a month to month, no long term committments.  
        Classes will be taught by Sylvia Ferry, Rank: Shodan 1st degree Blackbelt. 
        She has trained and competed at an international level.  
        She has coached at Olympic levels and has earned the title "Seinsi".
      </p>
    </div>
    
    <div class="row content">
      <h3 class="text-center">Clothing Requirements</h3>
      <p id="bethKeelContent" class="text-justify">
        T-shirts and sweatpants,loose fitting attire or Judo Gi.  No shoes of any kind or jewelry.
      </p>
    </div>
  </div>
  
  <h1 class="text-center">Guitar Lessons</h1>
  <p class="text-primary text-center">Ages 7 and up: 75$ mo.</p>
  <p class="text-primary text-center">1/2 hour lesson</p>
  <p class="text-primary text-center">1 student per lesson</p>
  
  <p class="text-warning text-center page-header">Call Frank at 256-652-1265 to register</p>
  
  <img class="img-responsive center" ng-src="pics/guitar2.jpg">
  
  <div class="col-xs-12">
    <div class="row content">
      <p id="bethKeelContent" class="text-justify">
        Designed to teach your child simple chord style guitar playing.  
        We cover the parts of the guitar, basic playing techniques, tuning , 
        chord basics, chord formations, playing chords on a guitar, finding songs and more.
        Classes taught by Frank Butler.
      </p>
    </div>
    
    <div class="row content">
      <h3 class="text-center">Required Materials</h3>
      
      <ul class="list-group">
        <li class="list-group-item">6 string acoustic guitar with nylong or light gauge stell strings</li>
        <li class="list-group-item">Tuner</li>
        <li class="list-group-item">Pick</li>
        <li class="list-group-item">Music stand: not required</li>
      </ul>
    </div>
  </div>
  
  <h1 class="text-center">Painting Lessons</h1>
  <p class="text-primary text-center">For Adults Only</p>
  <p class="text-primary text-center">Every 1st and 3rd Friday from 6-9pm</p>
  <p class="text-primary text-center">Fee is 25$ and includes all supplies</p>
  
  <p class="text-warning text-center page-header">Call Stephanie at 256-859-6171 to register</p>
  
  <img class="img-responsive center" ng-src="pics/painting.jpg">
  
  <div class="col-xs-12">
    <div class="row content">
      <p id="bethKeelContent" class="text-justify">
        In this class you will complete a painting from start to finish.  
        Stephanie Weaver will begin to offer Art Classes for Adults.
        Through step by step instruction, you will gain the confidence to begin painting on your own and find your own style.  Please contact Stephanie@grinninglikeanidiot.com or call 256-859-6171 for more information or to register for classes.
      </p>
    </div>
  </div>
  
  
  
  
 
</div>